# database host (예 : localhost)
DATABASE_HOST=
# database port (예 : 3306)
DATABASE_PORT=
# database에 접근하기 위한 유저 네임
DATABASE_USERNAME=
# database에 접근하기 위한 유저 비밀번호
DATABASE_PASSWORD=
# 접근하고자 하는 데이터베이스 명
DATABASE_NAME=

# 42cabi admin ID
ADMIN_ID=
# 42cabi admin password
ADMIN_PASSWORD=

# JWT token secret 값
JWT_SECRET=
# JWT token 유효기간 (예 : "2 days", "10h", "7d")
JWT_EXPIRES=